{% for food in foods %}

<div class="food-card">

{% if food.image %}
<img src="/static/images/{{food.image}}" width="100%">
{% endif %}

<div class="food-name">
{{food.name}}
</div>

<div class="food-price">
RM {{food.price}}
</div>

<form action="/add_to_cart" method="POST">

<input type="hidden" name="food_id" value="{{food.id}}">
<input type="hidden" name="table" value="{{table}}">
<input type="hidden" name="restaurant_id" value="{{restaurant_id}}">

<button>Add to Cart</button>

</form>

</div>

{% endfor %}
